In [6]:
import pandas as pd

In [11]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_Formula_One_World_Drivers%27_Champions')
df[3]

                Driver  Titles                                 Season(s)
0   Michael Schumacher       7  1994, 1995, 2000, 2001, 2002, 2003, 2004
1       Lewis Hamilton       7  2008, 2014, 2015, 2017, 2018, 2019, 2020
2   Juan Manuel Fangio       5              1951, 1954, 1955, 1956, 1957
3          Alain Prost       4                    1985, 1986, 1989, 1993
4     Sebastian Vettel       4                    2010, 2011, 2012, 2013
5         Jack Brabham       3                          1959, 1960, 1966
6       Jackie Stewart       3                          1969, 1971, 1973
7           Niki Lauda       3                          1975, 1977, 1984
8        Nelson Piquet       3                          1981, 1983, 1987
9         Ayrton Senna       3                          1988, 1990, 1991
10      Alberto Ascari       2                                1952, 1953
11         Graham Hill       2                                1962, 1968
12           Jim Clark       2                                1963, 1965
13  Emerson Fittipaldi       2                                1972, 1974
14       Mika Häkkinen       2                                1998, 1999
15     Fernando Alonso       2                                2005, 2006
16     Giuseppe Farina       1                                      1950
17       Mike Hawthorn       1                                      1958
18           Phil Hill       1                                      1961
19        John Surtees       1                                      1964
20         Denny Hulme       1                                      1967
21        Jochen Rindt       1                                      1970
22          James Hunt       1                                      1976
23      Mario Andretti       1                                      1978
24      Jody Scheckter       1                                      1979
25          Alan Jones       1                                      1980
26        Keke Rosberg       1                                      1982
27       Nigel Mansell       1                                      1992
28          Damon Hill       1                                      1996
29  Jacques Villeneuve       1                                      1997
30      Kimi Räikkönen       1                                      2007
31       Jenson Button       1                                      2009
32        Nico Rosberg       1                                      2016
33      Max Verstappen       1                                      2021

In [12]:
df[4]

,Country,Titles,Drivers,Seasons,By driver (titles)
0,United Kingdom,20,10,"1958, 1962–1965, 1968–1969, 1971, 1973, 1976, ...",Lewis Hamilton (.mw-parser-output .tooltip-dot...
1,United Kingdom,20,10,"1958, 1962–1965, 1968–1969, 1971, 1973, 1976, ...",Jackie Stewart (3)
2,United Kingdom,20,10,"1958, 1962–1965, 1968–1969, 1971, 1973, 1976, ...",Jim Clark (2)
3,United Kingdom,20,10,"1958, 1962–1965, 1968–1969, 1971, 1973, 1976, ...",Graham Hill (2)
4,United Kingdom,20,10,"1958, 1962–1965, 1968–1969, 1971, 1973, 1976, ...",Jenson Button (1)
5,United Kingdom,20,10,"1958, 1962–1965, 1968–1969, 1971, 1973, 1976, ...",Mike Hawthorn (1)
6,United Kingdom,20,10,"1958, 1962–1965, 1968–1969, 1971, 1973, 1976, ...",Damon Hill (1)
7,United Kingdom,20,10,"1958, 1962–1965, 1968–1969, 1971, 1973, 1976, ...",James Hunt (1)
8,United Kingdom,20,10,"1958, 1962–1965, 1968–1969, 1971, 1973, 1976, ...",Nigel Mansell (1)
9,United Kingdom,20,10,"1958, 1962–1965, 1968–1969, 1971, 1973, 1976, ...",John Surtees (1)
10,Germany,12,3,"1994–1995, 2000–2004, 2010–2013, 2016",Michael Schumacher (7)
11,Germany,12,3,"1994–1995, 2000–2004, 2010–2013, 2016",Sebastian Vettel (4)
12,Germany,12,3,"1994–1995, 2000–2004, 2010–2013, 2016",Nico Rosberg (1)
13,Brazil,8,3,"1972, 1974, 1981, 1983, 1987–1988, 1990–1991",Nelson Piquet (3)
14,Brazil,8,3,"1972, 1974, 1981, 1983, 1987–1988, 1990–1991",Ayrton Senna (3)
15,Brazil,8,3,"1972, 1974, 1981, 1983, 1987–1988, 1990–1991",Emerson Fittipaldi (2)
16,Argentina,5,1,"1951, 1954–1957",Juan Manuel Fangio (5)
17,Finland,4,3,"1982, 1998–1999, 2007",Mika Häkkinen (2)
18,Finland,4,3,"1982, 1998–1999, 2007",Kimi Räikkönen (1)
19,Finland,4,3,"1982, 1998–1999, 2007",Keke Rosberg (1)
20,Australia,4,2,"1959–1960, 1966, 1980",Jack Brabham (3)
21,Australia,4,2,"1959–1960, 1966, 1980",Alan Jones (1)
22,Austria,4,2,"1970, 1975, 1977, 1984",Niki Lauda (3)
23,Austria,4,2,"1970, 1975, 1977, 1984",Jochen Rindt (1)
24,France,4,1,"1985–1986, 1989, 1993",Alain Prost (4)
25,Italy,3,2,"1950, 1952–1953",Alberto Ascari (2)
26,Italy,3,2,"1950, 1952–1953",Giuseppe Farina (1)
27,United States,2,2,"1961, 1978",Mario Andretti (1)
28,United States,2,2,"1961, 1978",Phil Hill (1)
29,Spain,2,1,2005–2006,Fernando Alonso (2)
30,New Zealand,1,1,1967,Denny Hulme (1)
31,South Africa,1,1,1979,Jody Scheckter (1)
32,Canada,1,1,1997,Jacques Villeneuve (1)
33,Netherlands,1,1,2021,Max Verstappen (1)

In [15]:
# Winner by chasis constructor
df[9]

    Constructor  Titles                                          Season(s)
0       Ferrari      15  1952, 1953, 1956, 1958, 1961, 1964, 1975, 1977...
1       McLaren      12  1974, 1976, 1984, 1985, 1986, 1988, 1989, 1990...
2   Mercedes[a]       9  1954, 1955, 2014, 2015, 2016, 2017, 2018, 2019...
3      Williams       7           1980, 1982, 1987, 1992, 1993, 1996, 1997
4         Lotus       6                 1963, 1965, 1968, 1970, 1972, 1978
5      Red Bull       5                       2010, 2011, 2012, 2013, 2021
6       Brabham       4                             1966, 1967, 1981, 1983
7    Alfa Romeo       2                                         1950, 1951
8   Maserati[a]       2                                         1954, 1957
9        Cooper       2                                         1959, 1960
10      Tyrrell       2                                         1971, 1973
11     Benetton       2                                         1994, 1995
12      Renault       2                                         2005, 2006
13          BRM       1                                               1962
14        Matra       1                                               1969
15        Brawn       1                                               2009

In [16]:
# Winner by engine manufacturer
df[10]

   Manufacturer  Titles                                          Season(s)
0       Ferrari      15  1952, 1953, 1956, 1958, 1961, 1964, 1975, 1977...
1       Ford[a]      13  1968, 1969, 1970, 1971, 1972, 1973, 1974, 1976...
2   Mercedes[b]      13  1954, 1955, 1998, 1999, 2008, 2009, 2014, 2015...
3       Renault      11  1992, 1993, 1995, 1996, 1997, 2005, 2006, 2010...
4         Honda       6                 1987, 1988, 1989, 1990, 1991, 2021
5        Climax       4                             1959, 1960, 1963, 1965
6        TAG[c]       3                                   1984, 1985, 1986
7    Alfa Romeo       2                                         1950, 1951
8      Maserati       2                                         1954, 1957
9         Repco       2                                         1966, 1967
10          BRM       1                                               1962
11          BMW       1                                               1983